<section class="option-selector">
  <h2 class="option-selector__heading">blok pierwszy</h2>
  <div class="option-selector__radios">
    <label class="option-selector__radios--button">
      <input type="radio" id="first" value="1" (change)="onOptionChange(0)" name="option">
      <span>Opcja pierwsza</span>
    </label>
    <label class="option-selector__radios--button">
      <input type="radio" id="second" value="2" (change)="onOptionChange(1)" name="option">
      <span>Opcja druga</span>
    </label>
    <label class="option-selector__radios--button">
      <input type="radio" id="random" value="random" (change)="onOptionChange(2)" name="option">
      <span>Opcja trzecia</span>
    </label>
  </div>
</section>
