@import "../../sass/variables";

.main {
  color: $main-color;
  padding-top: 6rem;

  &__title {
    display: flex;
    justify-content: center;
    padding: 1rem 0 2rem;
  }

  &__heading {
    font: {
      size: 2rem;
      weight: normal;
    }
    position: relative;
    text-shadow: black 1px 2px 2px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 80%;
      height: .1rem;
      background: $main-color;
      margin-top: 1rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2rem;
  }

  app-option-selector, app-modifier {
    width: 50%;
  }

  app-quote-display {
    width: 100%;
  }
}

//Media Queries

@media screen and (min-width: 1200px) {
  app-option-selector, app-modifier, app-quote-display {
    width: 33.33%;
  }
}

@media screen and (min-width: 960px) {
  .main {
    padding-top: 10rem;

    &__title {
      padding: 1rem 0 3.5rem;
    }

    &__heading {
      font-size: 3rem;
    }

    app-option-selector, app-modifier, app-quote-display {
      width: 33.33%;
    }
  }
}
