@import "../../sass/variables";

.main {
  background-color: $main-background;
  color: $main-color;

  &__title {
    display: flex;
    justify-content: center;
  }

  &__heading {
    position: relative;
    font-size: 2rem;
    text-shadow: black 1px 2px 2px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 80%;
      height: .1rem;
      background: $main-color;
      margin-top: 1rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;
  }

  app-first-block, app-second-block {
    width: 50%;
  }

  app-third-block {
    width: 100%;
  }
}

//Media Queries

@media screen and (min-width: 960px) {
  .main {
    &__heading {
      font-size: 2.5rem;
    }

    app-first-block, app-second-block, app-third-block {
      width: 33.33%;
    }
  }
}
