@import "../../../../sass/variables";

.quote-display {

  &__heading {
    margin: 2.5rem 0;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__quote {
    font: {
      size: 1.1rem;
    }
    text-align: center;
    color: $quote-color;
  }
}


//Media Queries

@media screen and (min-width: 960px) {
  .quote-display {

    &__heading {
      margin: 0.83em 0 4rem;
    }
  }
}
