<section class="first-block">
  <h2 class="first-block__heading">blok pierwszy</h2>
  <div class="first-block__radios">
    <label class="first-block__radios--button">
      <input type="radio" id="first" value="first" name="option">
      <span>Opcja pierwsza</span>
    </label>
    <label class="first-block__radios--button">
      <input type="radio" id="second" value="second" name="option">
      <span>Opcja druga</span>
    </label>
    <label class="first-block__radios--button">
      <input type="radio" id="random" value="random" name="option">
      <span>Opcja trzecia</span>
    </label>
  </div>
</section>
